.mv_card{
         margin:70px 0px 20px 0px;
         background-color: #141414 !important;
         color: black;}

.movie-genre {
  font-size: 16px;
  font-style: italic;
  text-align: center;
  color: white;
  margin-bottom: 30px;
}

.mv_title{background-color: #0070b5!important;
padding: 5px;
text-align: center;
color: #f5ed00 !important;
font-family: 'Racing Sans One', cursive !important;
 
}

.movie-text{color:white !important;
margin-top: 20px;
text-align: center;}

.movie_img{
 
  text-align: center;
}

.movie-title {
  height: 4em;
  font-size: medium !important;
  text-align: center;
  padding: 10px;
}

.card-text{
  background-color: white;
  margin-top: -1em;
  padding: 15px;
}

.movie-img {
  width: 20% !important;
  
  
}

.mvc_body{margin-top: -3em;
          }



