.main-view {
  background: #141414;
  width: 100%;
  display: inline-block;
}


.movie-view {
  margin-top: 100px;
  margin-bottom: 50px;
}

.label {
  font-weight: bold;
}

#title {
  font-size: 300px;
  font-weight: bold;
}

.back-button {
  margin-left: 20px;
}