.main-view {
  background: #141414;
  width: 100%;
  display: inline-block;
}

.mainNavbar {
  background: #162b48;
}

body {
  font-family: "Teko", sans-serif !important;
}

.movie-view {
  margin-top: 100px;
  margin-bottom: 50px;
}
.alignCenter {
  text-align: center;
  margin-top: 20px;
}
.label {
  font-weight: bold;
}

#title {
  font-size: 300px;
  font-weight: bold;
}

.back-button {
  margin-left: 20px;
}