.movie-view {
  width: 100%;
  
}

.movie-poster {
  text-align: center;
}

.alignCenter {
  text-align: center;
  margin-top: 20px;
}
.label {
  font-weight: bold;
}

.movie-title {
  font-size: 28px !important;
  font-weight: bold;
  color:#f5ed00 !important ;
  font-family: 'Racing Sans One', cursive !important;
  text-decoration: underline;
}

.mview_body{background-color: #0070b5!important;
            margin-top: 25px;
            margin-bottom: 1em;
            padding: 25px;
           border-radius: 5px;}

.mvBody_container{margin-top:-2.5em ;}