body {background: #141414 !important;}

header{text-align: center;
       background-color: #0070b5!important;
      padding: 10px ;}

.logo{color: #f5ed00 !important;
      font-family: 'Racing Sans One', cursive;
    text-decoration: underline;}